:root {
  --height: 110vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: var(--height);
  overflow-x: hidden;
}

.clipped {
  position: relative;
}

.clipped::before,
.clipped::after {
  height: 99vh;
  content: "";
  position: fixed;
  top: 0;
  inset: 0;
  z-index: -2;
}

.clipped::before {
  clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
  background: linear-gradient(45deg, red, orange);
  transform: translateX(var(--scroll-before, 0%));
}

.clipped::after {
  clip-path: polygon(100% 0%, 65% 0%, 35% 100%, 100% 100%);
  background: linear-gradient(45deg, blue, purple);
  transform: translateX(var(--scroll-after, 0%));
}

.left,
.right {
  position: fixed;
  width: 100%;
  top: 10%;
  z-index: -1;
}
.left {
  transform: translateX(var(--scroll-before, 0%));
  left: 50%;
  h1 {
    font-size: 50px;
    color: blue;
  }
}
.right {
  transform: translateX(var(--scroll-after, 0%)) skewX(-20deg);
  left: 65%;
  color: red;
  h1 {
    line-height: 0;
    font-size: 30px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  h1,
  h2,
  h3 {
    transform: skewX(20deg);
  }
}
.bg {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -3;
  background-position: center;
  background-repeat: repeat;
}
.bg-content {
  position: fixed;
  width: 100%;
  top: 10%;
  transition: transform;
  transform: translateX(var(--transform-x));
  left: 50%;
  display: flex;
  justify-content: center;
  height: 50%;
  z-index: -3;
}
.first,
.second,
.third {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin: 10px 50px 0 50px;
}
.first h1,
.second h1,
.third h1 {
  font-style: italic;
  font-size: 130px;
}

.first div,
.second div,
.third div {
  transform: skewX(-20deg);
  h2 {
    line-height: 0;
    font-size: 30px;
  }
  p {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  h2,
  h3,
  p {
    transform: skewX(20deg);
  }
}
.first-banner {
  margin-top: 120vh;
  background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
}
.first-content {
  margin: 50px 0 50px 0;
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 600px;
}
.first-content i {
  user-select: none;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 16px;
  }
}
.first-banner-content {
  margin-top: 20px;
  width: 600px;
  h1 {
    line-height: 0;
  }
  .dots {
    font-size: 50px;
  }
  .para {
    font-size: 20px;
    text-align: justify;
    margin-right: 15px;
    display: none;
  }
}
.first-profiles {
	background: white;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;
}
.profiles-title{
	width: 100%;
	text-align: center;
	.dots{
		font-size: 50px;
		line-height: 0.5;
	}
	h1{
		font-size: 120px;
	}
}
.first-items {
  width: 800px;
  display: flex;
  margin: 80px;
  flex-wrap: wrap;
  gap: 50px;
}

.profile-card {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-card {
  img {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 50%;
  }
  h2 {
    width: 150px;
    text-align: center;
  }
  hr {
    width: 100%;
  }
	h3{
		color: blue;
		font-size: normal;
		font-weight: normal;
	}
}
